*, ::after, ::before {
  box-sizing: border-box;   
}
/* media query */
$mobile-icloud: 768px;
@mixin mobile-icloud () {
    @media all and (max-width: $mobile-icloud) {
        @content;
    }
}
$mobile-size1: 750px;
@mixin mobile-size1 () {
    @media all and (max-width: $mobile-size1) {
        @content;
    }
}
$mobile-size2: 650px;
@mixin mobile-size2 () {
    @media all and (max-width: $mobile-size2) {
        @content;
    }
}
.cal-outer {
  width: 100%;
  // max-width: 1086px;
  height: 100%;
  // height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  /* control panel */
  .cal-control-panel {
    width: 100%;
    height: 60px;
    padding: 8px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    flex-wrap: wrap;
    @include mobile-size1 {
      height: auto;
    }

    .switch-today {
      display: flex;
      align-items: center;
      margin-right: 25px;
      user-select: none;
      order: 1;

      .today-tooltip {
        max-width: 150px;
      }
      .font-weight {
        font-weight: 900;
      }
      .button-outer {
        position: relative;
        height: 36px;
        border: 1px solid #dadce0;
        border-radius: 4px;
        background-color: transparent;
        overflow: hidden;
        cursor: pointer;

        &:hover {
          background-color: #f1f3f4;
        }            
        .button-content {
          margin: 7px 12px 5px 12px;
          font-size: 14px;
          line-height: 33px;
          font-family: 'Google Sans',Roboto,Arial,sans-serif;              
        }            
      } 
    }
    .switch-around {
      display: flex;
      align-items: center;
      padding-top: 3px;
      order: 2;
      
      .to-left {
        margin-right: 8px;

        .q-btn {
          .q-btn__content {
            padding-top: 1px;
            padding-right: 2px;
          }
        }
      }         
      .to-right {
        .q-btn {
          .q-btn__content {
            padding-top: 1px;
            padding-left: 2px;
          }
        }
      }
      .arrow-outer {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;            
        
        .arrow-content {
          width: 100%;
          height: 100%;
          border: 0;
          border-radius: 50%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          // text-align: center;
          color: #5f6368;
          cursor: pointer;

          &:hover {
            background-color: rgba(32,33,36,0.039);
          }
        }           
      }
    }
    .display-date {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 25px;
      padding-top: 3px;
      order: 3; 
      @include mobile-size2 { 
        order: 4; 
        width: 100%;
        height: auto;
        padding: 0px;
        margin-left: 0px;
        margin-top: 8px;
      }

      .text-outer {
        .text-container {
          display: flex;          
          color: #3c4043;
          font-size: 22px;
          font-weight: 400;
          letter-spacing: 0;
          white-space: nowrap;
          @include mobile-size2 {
            font-size: 20px;
            align-items: flex-end;
          }

          .yymm-content {
            font-family: Microsoft JhengHei;
          }
          .date-content {
            font-family: 'Open Sans', sans-serif;
            margin-right: 10px;
          }
          .week-content {
            font-family: Microsoft JhengHei;
          }
        }
      }
    }
  }
  /* display boxes */
  .cal-display-boxes {
    width: 100%;
    height: calc(100% - 60px);
    border-top: #dadce0 1px solid;
    position: relative;
    display: flex;

    .cal-side-bar {
      width: 250px;
      height: 100%;
      border-right: #dadce0 1px solid;
    }
  } 
}