.month-table {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    // margin-left: 250px;

    .month-content {
        width: 100%;
        height: 100%; 
        display: flex;
        flex-direction: column;
        position: absolute;
        will-change: auto;

        &.from-left-position {
            animation-name: from-left-position;
            //   animation-timing-function: cubic-bezier(.32,1.32,1,.89);
            animation-duration: 0.2s;
        }
        &.from-right-position {
            animation-name: from-right-position;
            //   animation-timing-function: cubic-bezier(.32,1.32,1,.89);
            animation-duration: 0.2s;
        }
        &.to-appear {
            animation-name: to-appear;
            //   animation-timing-function: cubic-bezier(0.4,0,0.2,1);
            animation-duration: 0.2s;
        }
        &.to-disapper {
            animation-name: to-disapper;
            animation-timing-function: cubic-bezier(0.4,0,0.2,1);
            animation-duration: 0.2s;
        }
        .section-week-title {
            width: 100%;
            display: flex;
            border-left: 1px solid #dadce0;
            border-bottom: #dadce0 1px solid;

            .title-item {
                flex: 1 1 0%;
                border-right: #dadce0 1px solid;                
                text-align: center;
                font-family: Roboto,Arial,sans-serif;
                text-transform: uppercase;

                &:first-child {
                    // border-left: #dadce0 1px solid;
                }
                &:last-child {
                    // border-right: #dadce0 1px solid;
                }
                .item-name {
                    font-size: 11px;
                    font-weight: 500;
                    color: #70757a;                
                    line-height: 20px;
                }
            }
        }
        .section-week-edits {
            flex: 1 1 0%;
            display: flex;
            flex-direction: column;

            .week-row {
                flex: 1 1 0%;
                display: flex;
                position: relative;
                overflow: hidden;
                border-bottom: #dadce0 1px solid; 
                border-left: 1px solid #dadce0;
               
                .group-days-datas {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: flex;

                    .cell-day {
                        font-size: 14px;
                        line-height: 30px;
                        // border-top: 3px solid transparent;
                        border-right: #dadce0 1px solid;                        
                        color: #70757a;
                        flex: 1 1 0%;

                        &::after {
                            // content: '';
                            // display: block;  
                            // width: 100%;
                            // height: 100%;
                            // opacity: 0.5;
                            // background: transparent;
                            // border: 1px solid #000;
                        }
                        &.today {
                            // border-top: 3px solid #1a73e8;
                            .day-date { 
                                color: #fff;
                                border-radius: 50%;
                                background-color: #1a73e8;
                            }
                        }
                        &.holiday {
                            background-color: #e0ecff;
                        }
                        &:first-child {
                            // border-left: #dadce0 1px solid;
                        }
                        &:last-child {
                            // border-right: #dadce0 1px solid;
                        }                        
                        .day-info {
                            width: 100%;
                            height: 30px;
                            text-align: center;

                            .day-date {                            
                                width: max-content;
                                min-width: 24px;
                                height: 24px;
                                display: inline-block;
                                text-align: center;
                                font-weight: 500;
                                line-height: 24px;
                            }
                            .day-number {

                            }                        
                        }
                        .day-event {
                            width: 100%;
                            height: calc(100% - 30px);
                            position: relative;

                            .event-list {
                                padding-left: 0px;
                                padding-right: 8px;

                                .event-item {
                                    display: flex;
                                    align-items: center;
                                    height: 22px;
                                    border-radius: 5px;
                                    margin-bottom: 3px;
                                    padding-left: 5px;
                                    
                                    &.tasks {
                                        background-color: rgb(3, 155, 229);
                                    }
                                    &.holidays {
                                        background-color: rgb(0, 150, 136);
                                    }
                                    .item-content {
                                        color: #fff;
                                        font-size: 12px;
                                        // font-weight: 900;
                                    }
                                }
                            }
                            .state-list {
                                padding-left: 0px;
                                padding-right: 8px;
                                
                                .state-item {
                                    display: flex;
                                    align-items: center;
                                    min-height: 22px;
                                    // border-radius: 5px;
                                    margin-bottom: 3px;
                                    padding-left: 5px;

                                    &.holidays {
                                        background-color: rgb(179, 224, 219);
                                    }
                                    .item-content {
                                        display: flex;
                                        align-items: center;
                                        font-weight: 900;
                                        // font-family: Microsoft JhengHei;
                                        color: rgba(35, 35, 35, 0.77);
                                    }
                                }
                            }
                            .spinner-item {
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 4em;
                            }
                        }
                    }
                }
                .group-days-event {
                    margin-top: 30px;
                    flex: 1 1 0%;
                }
            }
        }
    }
}
@keyframes from-left-position {
    from {
        left: -50px;
        opacity: 0.3;
    }
    to {
        opacity: 1;
        left: 0;
    }
}
@keyframes from-right-position {
    from {
        right: -50px;
        opacity: 0.3;
    }
    to {
        opacity: 1;
        right: 0;
    }
}
@keyframes to-appear {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}
@keyframes to-disapper {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}